/* Layout 元件的 CSS */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: var(--base-600);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-image {
    height: 38px;
}

.header-logo-text {
    font-weight: 400;
    color: var(--base);
    margin: 15px 0px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav-profile {
    display: flex;
    gap: 5px;
}

.header-nav-profile-image {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.header-nav-profile-name {
    line-height: 1rem;
    margin: 0px;
    color: var(--base);
    font-weight: 500;
}

.header-nav-profile-greeting {
    margin: 0px;
    font-size: 12px;
    font-weight: 300;
    color: var(--base-300)
}

.header-nav-link {
    text-decoration: none;
    font-weight: 300;
    color: var(--base)
}

/* Home 頁面的 CSS */
.home-main {
    width: 950px;
    margin: 0px auto;
    padding: 50px 0px 0px;
}

.home-hero-banner {
    height: 420px;
    width: 100%;
    object-fit: cover;
}

.home-newest {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.home-newest-title {
    font-weight: 600;
    margin: 40px 0px 15px;
}

.home-newest-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 17px;
}

/* Store 頁面的 CSS */

/* StoreFilters 元件的 CSS */
.store-filters {
    background-color: var(--base-600);
}

.store-filters-inner {
    width: min(calc(100% - 100px), 950px);
    margin: 0px auto;
    padding: 10px 0px 20px;
}

.store-filters-title {
    margin: 0px;
    color: var(--base);
    font-weight: 500;
}

.store-filters-bottom {
    width: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
}

.store-filters-content {
    min-width: 0;
    display: flex;
    gap: 15px;
    padding: 10px 0px;
    flex: 15;
}

.store-filters-content-select {
    min-width: 0;
    flex: 1;
    border: 1px solid var(--base-300);
    border-radius: 0px;
    font-size: 14px;
    padding: 4px;
}

.store-filters-btn {
    padding: 2px 8px;
    font-size: 16px;
    font-weight: 300;
    flex-shrink: 0;
    flex: 1;
}

/* StoreItem 元件的 CSS */
.store-item {
    max-width: 31%;
    background-color: white;
    border: 1px solid var(--base-300);
    flex: 1 1 31%;
}

.store-item-title {
    font-weight: 600;
    margin: 10px;
}

.store-item-image {
    width: 100%;
    aspect-ratio: 5 / 4;
    object-fit: cover;
}

.store-item-description {
    font-weight: 300;
    margin: 10px;
}

.store-item-bottom {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 10px;
    gap: 5px;
}

.store-item-bottom-price {
    font-weight: 300;
    margin: 0px;
}

.store-item-bottom-price-sign {
    font-size: 14px;
    font-weight: 300;
}

.store-item-bottom-btn {
    padding: 5px 6px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    background-color: var(--primary);
    color: var(--primary-content)
}

.store-item-bottom-btn-icon {
    font-weight: 900;
    stroke-width: 100;
}