/* Home 頁面的 CSS */
.home-main {
    width: 950px;
    margin: 0px auto;
    padding: 50px 0px 0px;
}

.home-hero-banner {
    height: 420px;
    width: 100%;
    object-fit: cover;
}

.home-newest {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-newest-title {
    font-weight: 600;
    margin: 40px 0px 15px;
}

.home-newest-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

/* Store 頁面的 CSS */
.store-main {
    width: 950px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px 25px;
}

/* FAQs 頁面的 CSS */
.faqs-main {
    max-width: 950px;
    margin: 50px auto;
    background-color: white;
    border: 1px solid var(--base-300);
    box-sizing: border-box;
}

.faqs-heading {
    padding: 20px;
    background-color: var(--base-600);
    color: white;
}

.faqs-heading-title, .faqs-heading-subtitle {
    margin: 0px;
}

.faqs-heading-title {
    font-weight: 500;
    margin-bottom: 10px;
}

.faqs-heading-subtitle {
    font-weight: 200;
}

/* Terms 頁面的 CSS */
.terms-main {
    width: 950px;
    margin: 50px auto;
    border: 1px solid var(--base-300);
    background-color: white;
    padding: 20px;
    font-weight: 300;
    box-sizing: border-box;
}

.terms-title {
    margin: 0px;
}

.terms-list {
    padding-inline-start: 23px;
}

.terms-end {
    text-align: flex-end;
}

.terms-end-title {
    font-weight: 500;
    margin: 0px;
}

.terms-end-logo {
    width: 200px;
    margin: 0px 0px 0px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 300;
}

.terms-end-logo {
    font-size: 20px;
    margin-right: 6px;
}

.terms-end-logo-img {
    height: 35px;
}

/* Accordion 元件的 CSS */
.accordion {
    width: 100%;
}

.accordion-item {
    border-top: 1px solid var(--base-300);
}

.accordion-header {
    padding: 15px 20px;
    background-color: white;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-header:hover {
    background-color: var(--base-300);
}

.accordion-icon {
    font-size: 18px;
    transition: transform 0.2s ease;
}

.accordion-icon.open {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 20px;
}

.accordion-content.active {
    max-height: 500px;
    padding: 20px;
}

/* Header 元件的 CSS */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: var(--base-600);
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-image {
    height: 38px;
}

.header-logo-text {
    font-weight: 400;
    color: var(--base);
    margin: 15px 0px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-nav-profile {
    display: flex;
    gap: 5px;
}

.header-nav-profile-image {
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.header-nav-profile-name {
    line-height: 1rem;
    margin: 0px;
    color: var(--base);
    font-weight: 500;
}

.header-nav-profile-greeting {
    margin: 0px;
    font-size: 12px;
    font-weight: 300;
    color: var(--base-300)
}

.header-nav-link {
    text-decoration: none;
    font-weight: 300;
    color: var(--base)
}

/* StoreFilters 元件的 CSS */
.store-filters {
    background-color: var(--base-600);
}

.store-filters-inner {
    width: min(calc(100% - 100px), 950px);
    margin: 0px auto;
    padding: 10px 0px 20px;
}

.store-filters-title {
    margin: 0px;
    color: var(--base);
    font-weight: 500;
}

.store-filters-bottom {
    width: 100%;
    display: flex;
    gap: 80px;
    align-items: center;
}

.store-filters-content {
    min-width: 0;
    display: flex;
    gap: 15px;
    padding: 10px 0px;
    flex: 15;
}

.store-filters-content-select {
    min-width: 0;
    flex: 1;
    border: 1px solid var(--base-300);
    border-radius: 0px;
    font-size: 14px;
    padding: 4px;
}

.store-filters-btn {
    padding: 2px 8px;
    font-size: 16px;
    font-weight: 300;
    flex-shrink: 0;
    flex: 1;
}

/* StoreItem 元件的 CSS */
.store-item {
    background-color: white;
    border: 1px solid var(--base-300);
    flex: 1;
}

.store-item-title {
    font-weight: 600;
    margin: 10px;
}

.store-item-image {
    width: 100%;
    aspect-ratio: 5 / 4;
    object-fit: cover;
}

.store-item-description {
    font-weight: 300;
    margin: 10px;
}

.store-item-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    gap: 5px;
}

.store-item-bottom-price {
    font-weight: 300;
    margin: 0px;
}

.store-item-bottom-price-sign {
    font-size: 14px;
    font-weight: 300;
}

.store-item-bottom-btn {
    padding: 5px 6px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    background-color: var(--primary);
    color: var(--primary-content)
}

.store-item-bottom-btn-icon {
    font-weight: 900;
    stroke-width: 100;
}