* {
  --base: #FFFFFF;
  --base-600: #4B5563;
  --base-content: #000000;
  --primary: #C65A1B;
  --primary-content: #FFFFFF;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.base {
  color: var(--base);
}

.bg-base {
  background-color: var(--base);
}

.base-600 {
  color: var(--base-600)
}

.bg-base-600 {
  background-color: var(--base-600);
}

.base-content {
  color: var(--base-content)
}

.bg-base-content {
  background-color: var(--base-content);
}

.primary {
  color: var(--primary)
}

.bg-primary {
  background-color: var(--primary);
}

.primary-content {
  color: var(--primary-content)
}

.bg-primary-content {
  background-color: var(--primary-content);
}